content {
  display: flex;
  flex-direction: column;
}
.isit {
  font-size: 32px;
  color: #202020;
  padding-top: 20px;
  padding-left: 20px;
}
.products {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product:hover {
background-color: #f0f0f0;
}
.product__description {
  display: flex;
    align-items: center;
}
.product__description__photo {
  height: 100px;
}
.product__description__characteristics {
  width: 224px;
  height: 38px;
  font-size: 16px;
  padding-left: 10px;
}
.product__availability {
  width: 200px;
}
.product__cost, .product__quantity, .product__total{
  width: 150px;
}
.product__quantity {
  width: 44px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #202020;
  padding-top: 2px;
  padding-left: 10px;
  box-sizing: border-box;
}
.click {
  width: 200px;
  height: 24px;
  border-radius: 5px;
  background-color: #3060e0;
  font-size: 16px;
  color: #f0f0f0;
  border: none;
  margin-top: 10px;
  margin-right: 20px;
  align-self: flex-end;
}
.click:hover {
  background-color: #2050a0;
  color: #ffffff;
}
.click:active {
  background-color: #103090;
}
@media all and (max-width: 768px) {

}
@media all and (min-width: 768px) {

}