content {
  display: flex;
  flex-direction: column;
}

.isit {
  font-size: 32px;
  color: #202020;
  padding-top: 20px;
  padding-left: 20px;
}

/*button*/
.click {
  width: 200px;
  height: 24px;
  border-radius: 5px;
  background-color: #3060e0;
  font-size: 16px;
  color: #f0f0f0;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-self: flex-end;
}
.click:hover {
  background-color: #2050a0;
  color: #ffffff;
}
.click:active {
  background-color: #103090;
}

/*серые ячейки*/
.product__odd {
  background-color: #f0f0f0;
}

/*подписи*/

.products__list {
  font-weight: bold;
}
.products__list-prodict {
  width: 310px;
}

/*PRODUCTS*/

.products {
  margin-top: 20px;
}
.product {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

/*STRING*/
.product__quantity-input {
  width: 44px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #202020;
  padding-top: 2px;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.product__description--flex {
  display: flex;
}
.product__description {
  display: flex;
  flex-direction: column;
}
.product__description-photo {
  height: 100px;
}
.product__description-characteristics {
  width: 224px;
  height: 38px;
  font-size: 16px;
  padding-left: 10px;

}






@media all and (max-width: 768px) {
  .product {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .product__cell {
    width: 50%;
  }
  .products__list-prodict {
    height: 0px;
    font-size: 0px;
  }
  .product__odd--narrowscreen {
      background-color: #f0f0f0;
  }
  .product__quality {
    height: 50px;
    padding-left: 10px;
  }
  .products__list {
    padding-left: 10px;
  }
  .product__allcell {
    display: flex;
    flex-wrap: wrap;
  }
.product__description-characteristics {
        height: 100px;
      display: flex;
  align-items: center;
  }
}
@media all and (min-width: 768px) {
  /*подписи*/
  .products__list-next {
    height: 0px;
    font-size: 0px;
  }
  .product__quality {
    height: 100px;
      display: flex;
  align-items: center;
  }
  .product__cell {
  width: 100%;
}
.product__allcell {
  display: flex;
  width: 100%;
}

}
