      .logo {
        background-color: white;
        font-size: 32px;
        color: #202020;
        font-family: "Calibri";
        width: 192px;
        height: 50px;
        box-sizing: border-box;
        padding-bottom: 10px;
      }
      .logo:hover {
        color: #3060e0;
        background-color: #f0f0f0;}
      .logo:active {
        color: #103090;
        background-color: rgba(0, 0, 0, 0.25);}
      .logosvg {
        width: 30px;
        height: 40px;
        border-radius: 1px;
        margin-top: 5px;
        margin-left: 5px;
      }
      .BowShop {
        margin-left: 10px;
        margin-bottom: 10px;
      }