.link {  box-sizing: border-box;}
.link > a {
  font-size: 16px;
  color: #3060e0;
  font-family: "Calibri";
  cursor: pointer;
  width: 46px;
  height: 50px;
  text-decoration: none;
  text-align: center;

  padding-top: 25px;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
}
.link > a:hover {
  color: #2050a0;
  background-color: rgba(0, 0, 0, 0.05);
}
.link > a:active {
color: #103090;
background-color: rgba(0, 0, 0, 0.25);
}
.link > a:visited {
color: #2050a0;
background-color: rgba(0, 0, 0, 0.05);
}
