body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Calibri", "Arial", sans-serif;
}
a {
  color: #3060e0;
}
a:hover {
  color: #2050a0;
  text-decoration: none;
}
a:active {
  color: #103090;
  text-decoration: none;
}



/*NARROW*/

@media all and (max-width: 600px) {
  /*FOOTER*/
  .bottomnav {
    font-size: 0px;
  }
  /*HEADER*/
  header {
    width: 100%;
    height: 100px;
    flex-direction: column;
  }
  /*logo*/
  .logo {
    min-width: 100%;
  }
  .logo__text {
  align-items: center;
  }
  /*navigation*/
  .navigation {
    font-size: 0px;
  }


  .menu {
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 10px;
  }


}

/*WIDE*/

@media all and (min-width: 600px) {
  /*FOOTER*/
  .bottomnav {
    padding-top: 10px;
    font-size: 12px;
    color: #3060e0;
  }
  .bottomnav a {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #202020;
    cursor: pointer;
  }
  .bottomnav a:first-child {
    border-left: none;
  }

  /*HEADER*/
  /*navigation*/
  .navigation {
    justify-content: space-between;
  }

  .sign-in {
    background: url(sign-in.svg);
    display: block;
    height: 50px;
  }
  .sign-in-button {
    align-self: flex-end;
  }
  .menu {
    font-size: 0;
  }
  .button {
    display: inline-block;
    padding: 15px 15px;
  }
  .button:hover {
    background-color: #f0f0f0;
  }
}


content {
  flex-grow: 1;
}

/*FOOTER*/

footer {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border-top: 1px solid #202020;
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.copyrigh {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #202020;
}

/*HEADER*/
header {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #202020;
}

/*navigation*/
.navigation {
  display: flex;
  font-size: 16px;
  color: #3060e0;
  }
.navigation__right {
  display: flex;
}
.navigation__left {
  display: flex;
}
/*logo*/
.logo {
  width: 192px;
  height: 50px;
  display: flex;
}
.logo__picture {
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
}
.logo__text {
  font-size: 32px;
  color: #202020;
  margin-left: 10px;
  vertical-align: top;
  align-self: center;
}
