body {
  margin: 0;
  font-family: "Calibri", "Arial", serif;
}
a {
  color: #3060e0;
}
a:hover {
  color: #2050a0;
  text-decoration: none;
}
a:active {
  color: #103090;
  text-decoration: none;
}
header {
  display: flex;
}
footer {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border-top: 1px solid #202020;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.copyrigh {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #202020;
}
.BowShop {
  align-self: center;
  }
}
.button {
  display: inline-block;
  padding: 15px 15px;
}
.button:hover {
  background-color: #f0f0f0;
}
.BowShop {
  font-size: 32px;
  color: #202020;
  margin-left: 10px;
  vertical-align: top;
  align-self: center;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.logosvg {
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
}
.logo {
  width: 192px;
  height: 50px;
  display: flex;
}
.link {
  font-size: 40px;
  color: #3060e0;
  cursor: pointer;
}
.link:hover {
  color: #2050a0;
}
.link:active {
  color: #103090;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
}
summary::-webkit-details-marker {
  display: none;
}

@media all and (max-width: 768px) {
  .list {
    font-size: 0px;
  }
  header {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }
  .menu {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  .BowShop {
    align-items: center;
  }
  .flex {
    flex-direction: column;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    background: white;
    left: 0;
    right: 0;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .navigation > a {
    height: 50px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
  }
  details {
    border-bottom: 1px solid black;
  }
  .open {
    open=""
  }
  .allNavigation {
    position: absolute;
    left: 0px;
    right: 0px;
  }
}

@media all and (min-width: 768px) {
  .sign-in {
    background: url(sign-in.svg);
    display: block;
    height: 50px;
  }
  .list {
    padding-top: 10px;
    font-size: 12px;
    color: #3060e0;
  }
  .list a {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #202020;
    cursor: pointer;
  }
  .list a:first-child {
    border-left: none;
  }
  header {
    width: 100%;
    height: 50px;
    justify-content: space-between;
    border-bottom: 1px solid #202020;
  }
  .navigation {
    font-size: 16px;
    color: #3060e0;
  }